
        <div class="wrapper">         
            <main>
                <div>
                  <div class="row">
                    <div class="text-block">
                      <h4 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;color: white;"><b>DealsDate</b></h4>
                      <p style="font-family: Georgia, 'Times New Roman', Times, serif;">online platform for buying gifts.<br>
                        We provide you and your loved one's Happiness...!!!!
                      </p>
                    </div>
                  </div>
                   
              </div>
            </main>
        </div>
 