<body id="body">
    <style> 
      #section {
        box-sizing: content-box;  
        width: 400px;
        height: 2ew;
        padding: 30px;  
        border-width:3px;
        border-color: gray;  
        border-style:outset;
        background-color: rgb(253, 253, 253);
      }
      #body{
        background-color: rgb(243, 241, 241);
        height: 600px;
      }
      #nav{
      height: 55px;
    }
  </style>
    <nav class=" row bg-dark" id="nav">
      
    </nav>
    <h2 class="text-center mt-3">Admin Login</h2>
    <section id = "section" class="col-md-4 mx-auto mt-4">
      <form #frm="ngForm" (ngSubmit)="admin()">
        <div class="form-group">
          <label class="mt-3" style="font-size:20px">Email ID</label>
          <div><input type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" name="txtid" [(ngModel)]="userLogin.email" class="form-control" #Email="ngModel" required /></div>
          <div class="alert alert-dark mt-3" *ngIf="Email.invalid && (Email.touched || Email.dirty)">Please use an Email Id!</div>
        </div>
        <div class="form-group">
          <label class="mt-3" style="font-size:20px">Password</label>
          <div><input type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" name="txtpass" [(ngModel)]="userLogin.password" class="form-control" #password="ngModel" required /></div>
          <div class="alert alert-dark mt-3" *ngIf="password.invalid && (password.touched || password.dirty)">Password is required!</div>
        </div>
        <br>
        <!-- <button class="btn btn-success pull-right" [disabled]="!frm.valid"  (click)="onSubmit()">Login</button> -->
          <div class="mt-3"><input type="submit" [disabled]="!frm.valid" class="btn btn-success pull-right" value="Login"/></div>
        </form>
      </section>
    </body>
