<div class="container py-5">
  <div class="row text-center text-white mb-5">
      <div class="col-lg-7 mx-auto">
          <h1 style="font-family: 'Times New Roman', Times, serif;"><b>CartItems</b></h1>
      </div>
  </div>
  <div class="row">
      <div class="col-lg-8 mx-auto">
          <!-- List group-->
          <ul class="list-group shadow">
              <!-- list group item-->
              <li class="list-group-item">
                  <!-- Custom content-->
                  <div *ngFor="let list of carts; let i=index">
                      <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                          <div class="media-body order-2 order-lg-1">
                              <h5 class="mt-0 font-weight-bold mb-2">{{list.productName}}</h5>
                              <p class="font-italic text-muted mb-0 small">{{list.CartItemQuantity}}</p>
                              <div class="d-flex align-items-center justify-content-between mt-1">
                                  <h6 class="font-weight-bold my-2">₹{{list.productPrice}}</h6>
                              </div>
                              <div class="container text-center">

                                <button type="button"(click)="minus()"><i class="fa fa-minus"></i></button>
                                <input type="text" [value]="CartItemQuantity">
                                <button type="button"(click)="plus()"><i class="fa fa-plus"></i></button>
                            


                              <button type="button" class="btn btn-danger" style="background-color:rgb(2, 10, 14)" (click)="removeFromCart(list.cartItemId)" >Remove </button>
                              <button type="button" class="btn btn-danger" style="background-color:rgb(2, 10, 14)"(click)="addToOrder(list)" >Place Order</button>
                         </div>
                            </div><img [src]="list.imageUrl" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
                      </div> <!-- End --> 
                  </div>
              </li> <!-- End -->
          </ul> 
      </div>
  </div>
</div>    
